<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>I-Fundamentals.md</key>
			<dict>
				<key>lastModification</key>
				<real>548640429.27746105</real>
				<key>version</key>
				<dict>
					<key>f3fa6e7575aebb0e0769bddd79e125ee962d7d22c2b39fde567a8417e32de8f1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>II-CLI-Open-Source.md</key>
			<dict>
				<key>lastModification</key>
				<real>548770063.30324602</real>
				<key>version</key>
				<dict>
					<key>f3fa6e7575aebb0e0769bddd79e125ee962d7d22c2b39fde567a8417e32de8f1</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>III-Git-to-Javascript.md</key>
			<dict>
				<key>lastModification</key>
				<real>548640429.27745903</real>
				<key>version</key>
				<dict>
					<key>f3fa6e7575aebb0e0769bddd79e125ee962d7d22c2b39fde567a8417e32de8f1</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>IV-D3-Interactive-Notebooks.md</key>
			<dict>
				<key>lastModification</key>
				<real>548770030.12194705</real>
				<key>version</key>
				<dict>
					<key>f3fa6e7575aebb0e0769bddd79e125ee962d7d22c2b39fde567a8417e32de8f1</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>V-Introduction-to-WebGL.md</key>
			<dict>
				<key>lastModification</key>
				<real>548770457.35804296</real>
				<key>version</key>
				<dict>
					<key>f3fa6e7575aebb0e0769bddd79e125ee962d7d22c2b39fde567a8417e32de8f1</key>
					<integer>31</integer>
				</dict>
			</dict>
			<key>VI-From-Design-to-Code.md</key>
			<dict>
				<key>lastModification</key>
				<real>548770487.35221696</real>
				<key>version</key>
				<dict>
					<key>f3fa6e7575aebb0e0769bddd79e125ee962d7d22c2b39fde567a8417e32de8f1</key>
					<integer>33</integer>
				</dict>
			</dict>
			<key>VII-Motion-Graphics.md</key>
			<dict>
				<key>lastModification</key>
				<real>548770504.14276803</real>
				<key>version</key>
				<dict>
					<key>f3fa6e7575aebb0e0769bddd79e125ee962d7d22c2b39fde567a8417e32de8f1</key>
					<integer>35</integer>
				</dict>
			</dict>
			<key>VIII-Pure-CSS-Playground.md</key>
			<dict>
				<key>lastModification</key>
				<real>548770674.42445505</real>
				<key>version</key>
				<dict>
					<key>f3fa6e7575aebb0e0769bddd79e125ee962d7d22c2b39fde567a8417e32de8f1</key>
					<integer>41</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>I-Fundamentals.md</string>
		</array>
		<array>
			<string>II-CLI-Open-Source.md</string>
		</array>
		<array>
			<string>III-Git-to-Javascript.md</string>
		</array>
		<array>
			<string>IV-D3-Interactive-Notebooks.md</string>
		</array>
		<array>
			<string>V-Introduction-to-WebGL.md</string>
		</array>
		<array>
			<string>VI-From-Design-to-Code.md</string>
		</array>
		<array>
			<string>VII-Motion-Graphics.md</string>
		</array>
		<array>
			<string>VIII-Pure-CSS-Playground.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>f3fa6e7575aebb0e0769bddd79e125ee962d7d22c2b39fde567a8417e32de8f1</key>
			<integer>42</integer>
		</dict>
	</dict>
</dict>
</plist>
